*~
*.bak
*.swo
*.swp
.*.swp
.*.swo
.*.bak
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
result
!.gitignore
.sass-cache
*DS_Store
dump.rdb
node_modules
log/
build/
barc-app/
dist/server/support/socket.io
